$mine-shaft: #3F3F3F;
$charcoal: #232323;
$cod-gray: #141414;
$sunshade: #ffa624;
$dove-gray: #6e6e6e;
$bright-red: #b50010;
$white: #ffffff;
$alto: #dcdcdc;


body, html {
  width: 100%;
  height: 100%;
  background-color: $dove-gray;
  color: $white;
  padding: 0;
  margin: 0;
  user-select: none;
  // Button class
  #updateButton{
    display: inline;
    height: 100px;
    width: 100px;
    form{
      height:100px;
      width: 100px;
    }
  }
  #clearButton{
    display: inline;
    height: 100px;
    width: 100px;
    form{
      height:100px;
      width: 100px;
    }
  }
  .btn {
    background-color: #F08080;
    border-radius: 7px;
    color: white;
    user-select: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    width: 200px;
    height: 100px;
    font-size: 40px;
  }

  #GlobalHeader{
    position: relative;
    width: 950px;
    height: 200px;
    margin: 0 auto;
    font-size: 50px;
    font-family: sans-serif;
    a{
      width: 100%;
      height: 100%;
    }
    #title{
      position: absolute;
      display: inline-block;
      overflow: auto;
      top: 40%;
    }
  }
  #no-live-cell-message{
    font-size: 50px;
    display: inline;
  }
  #root {
    background-color: $alto;
    max-width: 950px;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;

    font-family: 'Avenir', Helvetica, Arial, sans-serif;

    #board{
      .row{
        .cell {
          display: inline-block;
          position: relative;
          width: 94px;
          height: 94px;
          border: 3px solid $alto;
          border-radius: 4px;
          user-select: none;
          color: $cod-gray;
          cursor: pointer;
          border-color: $white;

          &:hover {
            color: $white;
          }

          &.state {
            background-color: $sunshade;
          }
        }
      }
    }

  }
}
